<% layout("/layouts/boilerplate")%>
 <body>
     <div class="row mt-3">
     <div class="col-8 offset-2">
         <form method="POST" action="/listings" class="needs-validation" novalidate >
             <h3>Creating New Listing...</h3>
             <div class="mb-3">
                 <label for="title" class="form-label">Title</label>
                 <input name="title" placeholder="Enter the title" type="text" class="form-control" required>
                 <div class="valid-feedback">Title looks good..</div>
             </div>
             <div class="mb-3">
                 <label for="title" class="form-label">Description</label>
                 <textarea name="description" type="text" class="form-control" required></textarea>
                 <div class="valid-feedback">Description looks good..</div>
             </div>
             <div class="mb-3">
                 <label for="image" class="form-label">Image Url</label>
                 <input name="image" placeholder="Enter image url/Link " type="text" class="form-control">
             </div>
             <div class="row">
                 <div class="mb-3 col-md-4">
                     <label for="price" class="form-label">Price</label>
                     <input name="price" placeholder="Enter price" type="number" class="form-control" required>
                     <div class="invalid-feedback">Please,enter price</div>
                 </div>
                 <div class="mb-3 col-md-8">
                     <label for="country" class="form-label">Country</label>
                     <input name="country" placeholder="Enter country " type="text" class="form-control" required>
                     <div class="invalid-feedback">Please,enter valid  Country</div>
                 </div>
             </div>
             <div class="mb-3">
                 <label for="location" class="form-label">Location</label>
                 <input name="location" placeholder="Enter your location " type="text" class="form-control" required>
                 <div class="invalid-feedback">Please,enter valid location</div>
             </div>
             <button class="btn btn-dark add-btn mt-3">Add</button>
             <br><br>
         </form>
     </div>
     </div>
 </body>
